body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #f8f8ff;
    color: #3b3c36;
    text-align: center;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.chat-container {
    max-width: 90%; /* Adjust maximum width */
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: 575px;
    position: relative;
}

.chat-box {
    height: 482px; /* Adjust height */
    overflow-y: scroll;
    padding: 10px;
    background-color: #000000;
    border-bottom: 1px solid #ccc;
}

.user-message,
.bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    background-color: #000000;
    color: #ffffff;
    float: right;
    clear: both;
}

.bot-message {
    background-color: #000000;
    color: #ffffff;
    float: left;
    clear: both;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 0;
    float: left;
    margin: 0;
    border-radius: 0px 0 0 0px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0 0px 0px 0;
    cursor: pointer;
    float: left;
    margin: 0;
}

button:hover {
    background-color: #1a1110;
    color: #ffffff;
}

.footer {
    padding: 5px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; /* Adjust logo width */
    height: auto;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

.chat-container.chatting #logo {
    opacity: 0;
}
