/* Global styles */

body {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f00;
}

/* Header styles */

header {
  background-color: #f00;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Container styles */

.container {
  padding: 1rem;
}

#heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Footer styles */

footer {
  background-color: #f00;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.back-button {
  color: #fff;
  text-decoration: none;
}

/* Icon styles */

.icon-container {
  display: flex;
  justify-content: center;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
