body {
    height: 78vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #f4f4f4;
    color: #000000;
    padding: 5px;
    display: flex;
    border-top: 2px solid #000000;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 5px auto;
    position: relative;
    border-top: 2px solid #000000;
    border-radius: 0px;
    overflow: hidden;
    height: 78vh;
    z-index: 1;
}

.chat-box {
    height: 78vh;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.keyword-box {
    display: inline-block;
    position: relative;
    overflow-x: scroll;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    white-space: nowrap;
}

.keyword {
    padding: 1vh 3vh;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #f4f4f4;
    border-radius: 50px;
    cursor: pointer;
    margin-right: none;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.user-message,
.bot-message {
    padding: 2px;
    border-radius: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.user-message {
    background-color: ;
    color: black;
    padding: 3px;
    font-weight: bolder;
    float: left;
    clear: both;
    margin-bottom: 3px;
}

.bot-message {
    font-family: monospace;
    font-size: 15px;
    background-color: ;
    color: black;
    padding: 3px;
    float: left;
    clear: both;
    margin-top: 0px;
    margin-bottom: 7px;
    filter:drop-shadow(100px 70px 100px Black);
}

.input-container {
    width: calc(100% - 80px);
    float: left;
    position: relative;
    align-content: center;
}

input[type="text"] {
    background-color: #f4f4f4;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 0px;
    margin: 0px;
    float: left;
}

.button-container {
    text-align: center;
    margin-top: 5px;
}

#send-btn {
    border: none;
    background: none;
    padding: 0;
}
  
#send-btn img {
    width: 40px;
    height: 40px;
}

#search-btn {
    border: none;
    background: none;
    padding: 0;
}
  
#search-btn img {
    width: 41px;
    height: 41px;
}

.footer {
    padding: 5px;
    margin: 2px;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

.chat-container.chatting #logo {
    opacity: 0;
}

.about-btn {
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about-btn:hover {
    background-color: #000000;
}

.aboutbot-btn {
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.aboutbot-btn:hover {
    background-color: #000000;
}
