body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    margin-bottom: 10px;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 5px;
}

.back-button {
    max-width: 37px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    border-radius: 2px;
}

.back-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.fa-envelope, .fa-phone {
    margin-right: 5px;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon-container p {
    margin: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
}
