body {
    height: 78vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #f4f4f4;
    color: #000000;
    padding: 5px;
    display: flex;
    border-top: 0px solid #000000;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#floating-window {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#close-button {
  position: absolute;
  top: 5px;
  right: 5px; 
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#content {
  padding: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 5px auto;
    position: relative;
    border-top: 2px solid #000000;
    border-radius: 0px;
    overflow: hidden;
    height: 82vh;
    z-index: 1;
}

.chat-box {
    height: 82vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 10px;
    background-color: #f4f4f4;
    border: 0px solid #ccc;
}

@media (min-width: 700px) {
    .chat-box {
        margin-left: 20%;
        max-width: 60%;
    }
}

.keyword-box {
    display: inline-block;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    white-space: nowrap;
}

.keyword {
    padding: 1vh 3vh;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #f4f4f4;
    border-radius: 50px;
    cursor: pointer;
    margin-right: none;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.user-message,
.bot-message {
    padding: 2px;
    border-radius: 5px;
    max-width: 100%;
    word-wrap: break-word;
    filter:drop-shadow(100px 70px 100px #f4f4f4);
}

.user-message {
    color: black;
    padding: 3px;
    font-weight: bolder;
    float: left;
    clear: both;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 0px;
}

.bot-message {
    font-size: 15px;
    color: #000;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    float: left;
    clear: both;
    margin: 7px;
    margin-left: 0px;
}

.input-container {
    max-width: 100%;
    float: none;
    position: relative;
    height: 45px;
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 50px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="text"] {
    background-color: #f4f4f4;
    justify-self: center;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    margin: 0px;
    float: none;
    max-width: 100%;
    flex: 1;
    margin-right: 0px;
    margin-left: 8px;
    outline: none;
}

.input-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 3px;
}

#send-btn {
    border: none;
    background: none;
    padding: 2px;
    border-radius: 50px;
}
  
#send-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#search-btn {
    border: none;
    background-color: none;
    padding: 2px;
    border-radius: 50px;
}
  
#search-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.footer {
    padding: 1px;
    margin: 0px;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 13px;
    color: #000000;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

.chat-container.chatting #logo {
    opacity: 0;
}

.about-btn {
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about-btn:hover {
    background-color: #000000;
}

.aboutbot-btn {
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.aboutbot-btn:hover {
    background-color: #000000;
}
